* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(barber1.jpg);
    background-size: cover;
}
.container-fluid{
    margin: auto;
    width: 100vh;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

.login{
    display: flex;
    justify-content: center;
}
label{
    width: 300px;
}
input{
    width: 240px;
}
